$backgroundColor: #f5f3f3;
$lightBackgroundColor: #fcfcfc;
$textColor: #2C3639;

$primaryColor: #6096B4;
$successColor: #99DDCC;
$errorColor: #F38181;

@mixin stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}